@import './base.scss';

#app {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.card {
  background: var(--color-white);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: var(--size-m);
  box-shadow: var(--shadow);
}

@keyframes dots {
  0%, 20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  90%, 100% {
    content: '';
  }
}

.loading-dots {
  span:before {
    animation: dots 2s linear infinite;
    content: '';
  }
}

.row {
  display: flex;

  .col {
    flex: 1;
    box-sizing: border-box;
    padding-right: var(--size-m);
    overflow: hidden;

    &--25 {
      max-width: 25%;
      flex: 1;
    }

    &--50 {
      max-width: 50%;
      flex: 2;
    }

    &--75 {
      max-width: 75%;
      flex: 3;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
